a {
    color: #5d8000;
    text-shadow: none;
} 

// Main content
.content {
    aside {
        text-shadow: none;
        color: #fff;

        &.warning {
            text-shadow: none;
        }
        &.success {
            text-shadow: none;
        }
    }
    h1 {
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
        border-bottom: 1px dotted #ccc;
        border-top: 1px dotted #ddd;
    }
    h2 {
        border-top: 1px solid #ccc;
    }
    table tr:nth-child(odd)>td {
        background-color: #f9faf5;
    }
    table tr:nth-child(even)>td {
        background-color: #f4f6eb;
    }
}

// Table of contents
.tocify-wrapper {
    background-color: #f9faf5;
    &>img {
        margin: 10px auto;
    }

    &>.search {
        input {
            background: #fff;
            border-color: rgba(102, 102, 102, 0.18);
            border-radius: 5px;
            color: #666;
        }
    }
    .tocify-item > a, .toc-footer li {
        color: #333;
    }
    .tocify-focus a {
        color: #fff;
    }
    .search-results {
        background: #edf0e0;
    }
    .tocify-subheader {
        background-color: #edf0e0;
        background: #edf0e0;
    }
    .tocify-focus {
        box-shadow: none;
        background-color: #5d8000;
    }
    .toc-footer {
        border-top: 1px dotted #999;
    }
}


// Page layout
.page-wrapper {
    background-color: #edf0e0;
    .lang-selector {
        border-bottom: 5px solid #455f00;
    }
    .dark-box {
        background: #5d8000;
        background-image: url('../images/blueprint.png');
    }
}
